<h1>LYRICS</h1>
<p>Find me in app/views/main/home.html.erb</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Hey, I was doing just fine before I met you</p>
<p>I drink too much and that's an issue</p>
<p>But I'm OK</p>
<p>Hey, you tell your friends it was nice to meet them</p>
<p></p>But I hope I never see them
<p></p>Again

<p></p>I know it breaks your heart
<p></p>Moved to the city in a broke-down car
<p></p>And four years, no calls
<p></p>Now you're looking pretty in a hotel bar
<p></p>And I, I, I, I, I can't stop
<p></p>No, I, I, I, I, I can't stop

So, baby, pull me closer
In the back seat of your Rover
That I know you can't afford
Bite that tattoo on your shoulder
Pull the sheets right off the corner
Of that mattress that you stole
From your roommate back in Boulder
We ain't ever getting older

We ain't ever getting older
We ain't ever getting older

You look as good as the day I met you
I forget just why I left you,
I was insane
Stay and play that Blink-182 song
That we beat to death in Tucson,
OK

I know it breaks your heart
Moved to the city in a broke-down car
And four years, no call
Now I'm looking pretty in a hotel bar
And I, I, I, I, I can't stop
No, I, I, I, I, I can't stop

So, baby, pull me closer
In the back seat of your Rover
That I know you can't afford
Bite that tattoo on your shoulder
Pull the sheets right off the corner
Of that mattress that you stole
From your roommate back in Boulder
We ain't ever getting older

We ain't ever getting older
We ain't ever getting older

So, baby, pull me closer
In the back seat of your Rover
That I know you can't afford
Bite that tattoo on your shoulder
Pull the sheets right off the corner
Of that mattress that you stole
From your roommate back in Boulder
We ain't ever getting older

We ain't ever getting older
No, we ain't ever getting older
We ain't ever getting older
No, we ain't ever getting older
We ain't ever getting older
We ain't ever getting older
We ain't ever getting older
No, we ain't ever getting older

We ain't ever getting older
No, we ain't ever getting older</p>
<a href="https://www.youtube.com/watch?v=PT2_F-1esPk" target="">Closer video</a>
<form action="" method="POST">
	<label for="username">USERNAME</label>
	<input type="text" name="name"><br>
	<label for="password">PASSWORD</label>
	<input type="password" name="password"></br>
	<input type="submit" name="submit" value="Login">
</form>
<img src="http://www.dondevive.org/wp-content/uploads/2016/07/pikachu.jpg">